body{
	background-color:pink;
}

.div1{
	text-align: center;
	margin-top:100px;
	margin-left: 170px;
	margin-right: 200px;
	width: 75%;
	border: 5px solid green;

}

h1{
	font-size:80px;
}

label{
font-size:30px;
}

button{
	height:50px;
	width:150px;
	margin-bottom: 10px;
	margin-top: 3px;
	color: white;
	background-color:red;
	border-radius: 50%;
	outline: none;
	border: 1px solid blue;
}

input{
	height:40px;
	width:200px;
	margin-bottom: 15px;
}

